---
import '../base.css'
import Header from '../components/Header.svelte'
import Calculator from '../components/Calculator.svelte'
//https://metals.dev
---

<html lang="en">
	<Header client:load />
	<body class="bg-zinc-800">
		<Calculator client:load />
	</body>
</html>
