---
import '/base.css'
import HeadTags from '../components/HeadTags.astro'
import Header from '../components/Header.svelte'
import Calculator from '../components/Calculator.svelte'
//https://metals.dev
---

<html lang="en" class="bg-zinc-800 font-karla">
	<HeadTags />
	<Header />

	<body>
		<Calculator client:load />
	</body>
</html>
