---

---

<header class="flex items-center justify-end bg-zinc-800 p-4">
	<a
		href="/about"
		class="inline-block rounded border border-white bg-green-950 px-4 py-2 text-white">About</a
	>
</header>

<button class="bg-sky-700 px-4 py-2 text-white sm:px-8 sm:py-3">...</button>
